body{
  color: #40514E;
  margin: 0px;
  padding: 0px;
  text-align: center;
  /* font-family: 'Baloo Bhaijaan 2', cursive; */
  font-family: 'Roboto Serif', sans-serif;
}

.container{
  background-color: #B2FFFF;
  text-align: center;
  position: relative;
  padding-top: 100px;
}

#programmer{
  color:#00BFFF;
}
h2,h3{
  color: #11999E;
  font-family: 'Baloo Bhaijaan 2', cursive;
  font-size: 40px;
}

h1{
  color: #00BFFF;
  margin-top: 50px;
  position:relative;
  font-family: 'Sacramento', cursive;
  font-size: 420%;
}
p{
  font-family: 'Roboto Serif', sans-serif;
  font-size: 20px;
}
.bottom-cloud{
  position: absolute;
}
.top-cloud{
  position: absolute;
    right: 400px;
    top: 50px;
}
.photo{
  height: 150px;
  margin-top: 20px;
}
.Web{
    height: 250px;
    margin-top: 10px;
    float: left;
    margin-right: 30px;
}
.typing{
  float:right;
  height:250px;
  margin-top: 10px;
  margin-left: 30px;
}
.skill-row{
  width:50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width:4%;
  margin: 100px auto;
}
.middle-container{
  margin: 100px 0px;
}
.intro{
  width:30%;
  margin: auto;
  line-height: 2;
}
.same{
  margin:40px auto 60px;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 30px 0px 40px;
  font-size: 20px;
}

a{
  color:#11999E;
  font-family: 'Baloo Bhaijaan 2', cursive;
  margin: 10px 25px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0px;
}
.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999a);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999a);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999a);
  background-image: -o-linear-gradient(top, #11CDD4, #11999a);
  background-image: linear-gradient(to bottom, #11CDD4, #11999a);
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;
  font-family: 'Baloo Bhaijaan 2', cursive;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

@media (max-width:1100px){
  .heading{
    padding: 0px 100px 0px 0px;
  }
  .intro {
    width: 70%;
    margin: auto;
    line-height: 2;
  }
  .Web {
    float: none;
    height: 250px;
    margin-top: 10px;
  }

  .skill-row {
    width: 80%;
    margin: 100px 70px 100px;
    text-align: center;
    line-height: 2;
  }

  .typing {
    float: none;
    height: 250px;
    margin-top: 10px;
   }
}

